@model List<Word>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout";
}


<table class="table table-striped text-white bg-transparent" >
    <thead>
        <tr>
            <th scope="col">WordID</th>
            <th scope="col">WordTR</th>
            <th scope="col">WordEN</th>
            <th scope="col">WordSentences</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.WordID</th>
                <td>@item.wordTR</td>
                <td>@item.wordEN</td>
                <td>@item.wordSentences</td>
                <td><a class="btn btn-info" asp-route-WordID="@item.WordID" asp-action="UpdateWord" asp-controller="Member">Güncelle</a></td>
                <td><a class="btn btn-danger" asp-route-WordID="@item.WordID" asp-action="DeleteWord" asp-controller="Member">Sil</a></td>
            </tr>
        }
    </tbody>
</table>


<a class="btn btn-outline-info" asp-action="AddWord" asp-controller="Member">Add Word</a>