    @using EnglishLearningProject.ViewModels
    @model List<WordSuccessTableViewModel>
    @{
        Layout = "_UserLayout";
    }

    <html>
    <head>
         <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['table'] });
            google.charts.setOnLoadCallback(drawTable);

            function drawTable() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'İngilizce Kelime');
                data.addColumn('string', 'Türkçe Kelime');
                data.addColumn('number', 'Doğru Sayısı');
                data.addColumn('number', 'Yanlış Sayısı');
                data.addRows([
                  @for (int i = 0; i < Model.Count; i++)
                    {
                        var result = Model[i];
                        if (i == Model.Count - 1)
                        {
                            <text>['@result.WordEN','@result.WordTR', @result.TrueCount, @result.FalseCount]</text>
                        }
                        else
                        {
                            <text>['@result.WordEN','@result.WordTR', @result.TrueCount, @result.FalseCount],</text>       
                        }
                    }
                ]);
                var table = new google.visualization.Table(document.getElementById('table_div'));
                table.draw(data, { showRowNumber: true, width: '100%', height: '100%' });
            }
        </script>

     
    </head>
    <body>
        <div id="table_div"></div>
            <a class="btn btn-outline-info m-3" asp-action="CreatePDF" asp-controller="Member">PDF Oluştur</a>
    </body>
    </html>
